In [2]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import os
import pandas as pd

In [3]:
path = os.getcwd()
files = os.listdir(path)
files

['.ipynb_checkpoints',
 'April2019.xlsx',
 'August2018.xlsx',
 'December2018.xlsx',
 'February2019.xlsx',
 'January2019.xlsx',
 'July 2018.xlsx',
 'June2019.xlsx',
 'March2019.xlsx',
 'May2019.xlsx',
 'November2018.xlsx',
 'October2018.xlsx',
 'September2018.xlsx',
 'Thumbs.db',
 'Untitled.ipynb']

In [4]:
files_xls = [f for f in files if f[-4:] == 'xlsx']
files_xls

['April2019.xlsx',
 'August2018.xlsx',
 'December2018.xlsx',
 'February2019.xlsx',
 'January2019.xlsx',
 'July 2018.xlsx',
 'June2019.xlsx',
 'March2019.xlsx',
 'May2019.xlsx',
 'November2018.xlsx',
 'October2018.xlsx',
 'September2018.xlsx']

In [5]:
df = pd.DataFrame()

In [6]:
for f in files_xls:
    data = pd.read_excel(f)
    df = df.append(data)

In [7]:
df

,Address_Formatted,AddressCityStateZip,addtst,age,agency,alarmcnt,alarmlev,alarmtype,alerts_cnt,alrm_id,...,utimeclose,utimefini,utimeready,utimeroute,vehicleid,vehstate,verloc,vernat,wanted_cnt,zip
0,240-B N 4TH ST,"240-B N 4TH ST, HA, 23664",NaN,NaN,HFD,0,1,NaN,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,0,23664.0
1,25 WYTHE CREEK RD,"25 WYTHE CREEK RD, HA, 23665",DIST: 74.65 ft,NaN,HFD,0,1,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,0,23665.0
2,135 SESCO DR,"135 SESCO DR, HA, 23664",DIST: 408.88 ft,NaN,HFD,0,1,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,0,23664.0
3,3000 KENMORE DR,"3000 KENMORE DR, HA, 23661",NaN,NaN,HFD,0,1,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,0,23661.0
4,110-H MISTY CV,"110-H MISTY CV, HA, 23666",NaN,NaN,HFD,0,1,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,0,23666.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5052,2905 N ARMISTEAD AVE,"2905 N ARMISTEAD AVE, HA, 23666",NaN,NaN,HFD,0,1,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,0,23666.0
5053,2905 N ARMISTEAD AVE,"2905 N ARMISTEAD AVE, HA, 23666",NaN,NaN,HFD,0,1,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,0,23666.0
5054,2905 N ARMISTEAD AVE,"2905 N ARMISTEAD AVE, HA, 23666",NaN,NaN,HFD,0,1,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,0,23666.0
5055,2905 N ARMISTEAD AVE,"2905 N ARMISTEAD AVE, HA, 23666",NaN,NaN,HFD,0,1,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,0,23666.0
5056,2905 N ARMISTEAD AVE,"2905 N ARMISTEAD AVE, HA, 23666",NaN,NaN,HFD,0,1,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,0,23666.0

In [8]:
df.to_csv("201807-201906.csv")